<template>
  <div id="app">
    <div class="work-area">
        <table>
            <tr>
                <td>Material</td>
                <td colspan="3"><select class="long" v-model="material">
                  <option v-for="option in cuttingData.materials" v-bind:value="option.no">
                    {{ option.name }}
                  </option>
                </select>
                </td>
            </tr>
            <tr>
                <td>Diameter</td>
                <td><input class="number" v-model="diameter"/></td><td>mm</td>
            </tr>
            <tr>
                <td>Antal skär</td>
                <td><input class="number" v-model="edgeCount"/></td><td>mm</td>
            </tr>
            <tr>
                <td>Verktyg</td>
                <td colspan="2"><select class="long" v-model="toolType">
                  <option v-for="option in this.cuttingData.toolTypes" v-bind:value="option.id">
                    {{ option.name }}
                  </option>
                </select></td>
            </tr>
            <tr>
                <td>Belagd</td>
                <td><input type="checkbox" v-model="coated"/></td>
            </tr>
            <tr>
                <td></td>
                <td>Beräknad</td>
                <td>Vald</td>
            </tr>
            <tr>
                <td>Varvtal</td>
                <td class="result">{{rpm}}</span></td>
                <td><input class="number" id="chosenRpm" v-model="chosenRpm"/>
                <td>v/min</td>
            </tr>
            <tr>
                <td>Radiell matning</td>
                <td class="result">{{getRadialFeed(rpm)}}</span></td>
                <td class="result">{{getRadialFeed(chosenRpm)}}</span></td>
                <td>mm/min</td>
            </tr>
            <tr>
                <td>Axiell matning</td>
                <td class="result">{{getAxialFeed(rpm)}}</span></td>
                <td class="result">{{getAxialFeed(chosenRpm)}}</span></td>
                <td>mm/min</td>
            </tr>
        </table>
    </div>
  </div>
</template>

<style>
  body {
    background-color: #eee;
  }
  .result, .number {
    width: 5em;
  }
  .result, .number {
    text-align: right;
  }
</style>

<script>
import cuttingData from './cutting-data.json';

export default {
  name: 'app',
  data () {
    return {
      cuttingData: cuttingData,
      material: 1,
      diameter: 10,
      edgeCount: 2,
      toolType: 'endMill',
      coated: true,
      chosenRpm: 0,
      radialFeed: 0,
      axialFeed: 0
    }
  },
  methods: {
    getRadialFeed(rpm) {
      let sf = this.findSpeedFeed(this.material, this.diameter, this.toolType, this.coated);
      return sf ? Math.round(sf.radialFeed * this.edgeCount * rpm) : '';
    },
    getAxialFeed(rpm) {
      let sf = this.findSpeedFeed(this.material, this.diameter, this.toolType, this.coated);
      return sf ? Math.round(sf.axialFeed * this.edgeCount * rpm) : '';
    },
    findSpeedFeed(material, diameter, toolType, coated) {
      console.log({material, diameter, toolType, coated});
      for (var i in this.cuttingData.speedFeed) {
        var sf = this.cuttingData.speedFeed[i];
        console.log('  ', sf);
        if (sf.materialNo.indexOf(material) != -1 && sf.toolType === toolType
            && sf.coated === coated && sf.minDiam <= diameter && diameter <= sf.maxDiam) {
          return sf;
        }
      }
      return undefined;
    },
    findClosest(values, value) {
      return values.reduce(function (prev, curr) {
        return (Math.abs(curr - value) < Math.abs(prev - value) ? curr : prev);
      });
    }
  },
  computed: {
    rpm() {
      let sf = this.findSpeedFeed(this.material, this.diameter, this.toolType, this.coated);
      return sf ? Math.round(sf.speed * 1000.0 / Math.PI / this.diameter) : '';
    }
  }
}
</script>
